extend layout


mixin order(pic,code,price,name,status,time)
    .order
        .order-detail
            .row.code 订单编号：#{code}
            .row.time 成交时间：#{time}
            .row.status 订单状态：#{status}
            - if(status=="等待付款")
                .row.func 订单操作：
                    span {付款} 
                    span {取消} 
        .product
            img.pic(src=pic)
            .info
                .name 商品名称： #{name}
                .price 商品金额： ￥#{price}

block style
    link(rel="stylesheet",href="/css/my.css")

block content
    .content-inner
        .orders
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","等待付款","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","交易成功","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","退款成功","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","已付款","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","等待付款","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","等待付款","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","等待付款","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","等待付款","2014/05/08")
            +order("/img/order.jpg","7586245890241",5559,"珍珠18K黄金戒指","等待付款","2014/05/08")